
<div class="container border border-dark border-1 w-25 shadow-lg"> 

        <h1 class="row justify-content-center bg-primary mb-0 text-white">{{name}}</h1>
        <h2 class="row justify-content-center bg-primary mt-0 mb-0 text-white"><i class="fas fa-laptop-code"></i>&nbsp;{{role}}</h2>
 
    <ul class="row list-group mt-0">
        <li class="list-group-item text-dark" id="employeeId">ID:{{id}}</li>
        <li class="list-group-item text-dark" id="employeeEmail">Email:{{email}}</li>
        <li class="list-group-item text-dark" id="Github">Github:{{Github}}</li>
    </ul>
</div>