<!-- Template for the intern employee card -->
<div class="col-3 border-dark container-fluid p-0 border border-1 shadow-lg h-75"> 

    <h1 class="row justify-content-center bg-primary m-0 text-white">{{name}}</h1>
    <h2 class="row justify-content-center bg-primary m-0 text-white">
    <i class="fas fa-graduation-cap"></i>
    </i> &nbsp; {{role}}</h2>

<ul class="list-group">
    <li class="list-group-item text-dark" id="employeeId">
        <div class="font-weight-bold">ID:</div>{{id}}</li>
    <li class="list-group-item text-dark" id="employeeEmail">
        <div class="font-weight-bold">Email:</div>{{email}}</li>
    <li class="list-group-item text-dark" id="school">
        <div class="font-weight-bold">School:</div>{{school}}</li>
</ul>
</div>